{{#link-to 'home'}}
<div id="goalkeeper-circle">
  <center id="title-logo">Goalkeeper</center>
</div>
{{/link-to}}

<h2 id="title-run-target">{{name}}</h2>

<div class="container">
  <div class="jumbotron">
    <canvas id="run-canvas" height="450" width="600"></canvas>
  </div>

  <h3 id="progress-miles">100 of {{total_miles}} miles completed</h3>

  <div class="row marketing">
    <form class="form-inline" id="form-run-goal" role="form">
      <label>I ran</label>
      <input type="text" class="form-control" id="distance-ran" placeholder="#"/>
      <select class="form-control" id="distance-ran-unit">
        <option>miles</option>
        <option>kilometers</option>
      </select>
      <label>in</label>
      <input type="number" class="form-control" id="minutes-ran" placeholder="#"/>
      <label>minutes and</label>
      <input type="number" class="form-control" id="seconds-ran" placeholder="#"/>
      <label>seconds on</label>
      <input type="date" class="form-control" id="date-picker">
      <button type="button" class="btn btn-primary" id="add-run-milestone-button" {{action "saveEvent"}}>Add</button>
    </form>
  </div>
  <h3>Progress List</h3>
  <ul id="progress-list">
    {{#each run in runEvents}}
      <li>You ran {{run.distance}} miles on {{formatDate run.date}}</li>
    {{/each}}
  </ul>
</div>
